name: Check

on:
  merge_group: 
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
          cache: true

      - name: Run check
        run: make check